body {
  font-family: 'Montserrat';
}

::selection {
  background-color: #770aaa;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

.form-control-dark {
  border-color: var(--bs-gray);
}

.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle:not(:focus) {
  outline: 0;
}

.home-title {
  font-size: 40px !important;
  font-weight: 600;
}

.dev {
  font-size: 70%;
  background-size: 400% 400%;
  background: linear-gradient(90deg, rgba(106, 9, 152, 1) 35%, rgba(0, 212, 255, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-pills {
  justify-content: center;
  align-items: center;
}

.nav-link {
  transition: 0.5s ease-in-out;
}

.nav-link:hover {
  border-radius: 0.375rem;
  background: #770aaa;
  color: #fff;
}

.title-text {
  background: linear-gradient(90deg, rgba(106, 9, 152, 1) 5%, rgba(0, 212, 255, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.img-myself {
  width: 20rem;
}

@media (max-width: 768px) {

  .container div {
    justify-content: center;
  }

  .container .img-myself {
    max-width: 150%;
    justify-content: center;
    align-content: center;
  }

  .section-title {
    text-align: center;
  }
}

/* about section */

#who-am-i {
  position: relative;
}

.blockabout {
  padding: 20px;
  background: white;
}

.blockabout-inner {
  padding: 30px;
  border: 1px solid rgba(32, 33, 36, 0.1);
}

.sosmed-horizontal a i {
  border: 1px solid #070707;
  border-radius: 50%;
  color: #070707;
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  margin: auto 3px;
  font-size: 15px;
  text-align: center;
  transition: all 0.3s;
}

.rey-btn {
  border: 2px solid #070707 !important;
  padding: 10px 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
  font-weight: 700;
  border-radius: 50px;
  transition: all 0.5s ease-in-out;
}

.rey-btn:hover {
  border: 2px solid #07070750 !important;
}

/* projects */

@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");

:root {
  --main-green: #79dd09;
  --main-green-rgb-015: rgba(121, 221, 9, 0.1);
  --main-yellow: #bdbb49;
  --main-yellow-rgb-015: rgba(189, 187, 73, 0.1);
  --main-red: #bd150b;
  --main-red-rgb-015: rgba(189, 21, 11, 0.1);
  --main: #770aaa;
  --main-purple-rgb-015: rgba(119, 10, 170, 0.192);
}

body {
  font-size: 16px;
  text-rendering: optimizeLegibility;
  font-weight: initial;
}


a,
a:hover {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

#pageHeaderTitle {
  margin: 2rem 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
}

.postcard {
  flex-wrap: wrap;
  display: flex;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
}

.postcard.dark {
  background-color: #18151f;
}

.postcard.light {
  background-color: #ffffff;
}

.postcard.dark .t-dark {
  color: #18151f;
}

.postcard a {
  color: inherit;
}

.postcard h1,
.postcard .h1 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.postcard .small {
  font-size: 80%;
}

.postcard .postcard__title {
  font-size: 1.75rem;
}

.postcard .postcard__img {
  max-height: 180px;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.postcard .postcard__img_link {
  display: contents;
}

.postcard .postcard__bar {
  width: 50px;
  height: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #424242;
  transition: width 0.2s ease;
}

.postcard .postcard__text {
  padding: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.postcard .postcard__preview-txt {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  height: 100%;
}

.postcard .postcard__tagbox {
  display: flex;
  flex-flow: row wrap;
  font-size: 14px;
  margin: 20px 0 0 0;
  padding: 0;
  justify-content: center;
}

.postcard .postcard__tagbox .tag__item {
  display: inline-block;
  background: rgba(83, 83, 83, 0.4);
  border-radius: 3px;
  padding: 2.5px 10px;
  margin: 0 5px 5px 0;
  cursor: default;
  user-select: none;
  transition: background-color 0.3s;
}

.postcard .postcard__tagbox .tag__item:hover {
  color: #fff;
  background: rgba(83, 83, 83, 0.8);
}

.postcard:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 1;
  border-radius: 10px;
}

.postcard:hover .postcard__bar {
  width: 100px;
}

@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;
  }

  .postcard .postcard__title {
    font-size: 2rem;
  }

  .postcard .postcard__tagbox {
    justify-content: start;
  }

  .postcard .postcard__img {
    max-width: 300px;
    max-height: 100%;
    transition: transform 0.3s ease;
  }

  .postcard .postcard__text {
    padding: 3rem;
    width: 100%;
  }

  .media.postcard .postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    background: #18151f;
    top: -20%;
    height: 130%;
    width: 55px;
  }

  .postcard:hover .postcard__img {
    transform: scale(1.1);
  }

  .postcard:nth-child(2n+1) {
    flex-direction: row;
  }

  .postcard:nth-child(2n+0) {
    flex-direction: row-reverse;
  }

  .postcard:nth-child(2n+1) .postcard__text::before {
    left: -12px !important;
    transform: rotate(4deg);
  }

  .postcard:nth-child(2n+0) .postcard__text::before {
    right: -12px !important;
    transform: rotate(-4deg);
  }
}

@media screen and (min-width: 1024px) {
  .postcard .postcard__text {
    padding: 2rem 3.5rem;
  }

  .postcard .postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    top: -20%;
    height: 130%;
    width: 55px;
  }

  .postcard.dark .postcard__text:before {
    background: #18151f;
  }

  .postcard.light .postcard__text:before {
    background: #e1e5ea;
  }
}

/* COLORS */
.postcard .postcard__tagbox .green.play:hover {
  background: var(--main-green);
  color: black;
}

.green .postcard__title:hover {
  color: var(--main-green);
}

.green .postcard__bar {
  background-color: var(--main-green);
}

.green:before {
  background-image: linear-gradient(-30deg, var(--main-green-rgb-015), transparent 50%);
}

.green:nth-child(2n)::before {
  background-image: linear-gradient(30deg, var(--main-green-rgb-015), transparent 50%);
}

.postcard .postcard__tagbox .main.play:hover {
  background: var(--main);
}

.main .postcard__title:hover {
  color: var(--main);
}

.main .postcard__bar {
  background-color: var(--main);
}

.main:before {
  background-image: linear-gradient(-30deg, var(--main-purple-rgb-015), transparent 50%);
}

.main:nth-child(2n)::before {
  background-image: linear-gradient(30deg, var(--main-purple-rgb-015), transparent 50%);
}

.postcard .postcard__tagbox .red.play:hover {
  background: var(--main-red);
}

.red .postcard__title:hover {
  color: var(--main-red);
}

.red .postcard__bar {
  background-color: var(--main-red);
}

.red:before {
  background-image: linear-gradient(-30deg, var(--main-red-rgb-015), transparent 50%);
}

.red:nth-child(2n)::before {
  background-image: linear-gradient(30deg, var(--main-red-rgb-015), transparent 50%);
}

.postcard .postcard__tagbox .yellow.play:hover {
  background: var(--main-yellow);
  color: black;
}

.yellow .postcard__title:hover {
  color: var(--main-yellow);
}

.yellow .postcard__bar {
  background-color: var(--main-yellow);
}

.yellow:before {
  background-image: linear-gradient(-30deg, var(--main-yellow-rgb-015), transparent 50%);
}

.yellow:nth-child(2n)::before {
  background-image: linear-gradient(30deg, var(--main-yellow-rgb-015), transparent 50%);
}

@media screen and (min-width: 769px) {
  .green:before {
    background-image: linear-gradient(-80deg, var(--main-green-rgb-015), transparent 50%);
  }

  .green:nth-child(2n)::before {
    background-image: linear-gradient(80deg, var(--main-green-rgb-015), transparent 50%);
  }

  .main:before {
    background-image: linear-gradient(-80deg, var(--main-purple-rgb-015), transparent 50%);
  }

  .main:nth-child(2n)::before {
    background-image: linear-gradient(80deg, var(--main-purple-rgb-015), transparent 50%);
  }

  .red:before {
    background-image: linear-gradient(-80deg, var(--main-red-rgb-015), transparent 50%);
  }

  .red:nth-child(2n)::before {
    background-image: linear-gradient(80deg, var(--main-red-rgb-015), transparent 50%);
  }

  .yellow:before {
    background-image: linear-gradient(-80deg, var(--main-yellow-rgb-015), transparent 50%);
  }

  .yellow:nth-child(2n)::before {
    background-image: linear-gradient(80deg, var(--main-yellow-rgb-015), transparent 50%);
  }
}

/* social media */

.btn {
  border-radius: 1rem;
  align-items: center;
  border: 2px solid #fff;
}

.btn a {
  align-items: center;
  text-decoration: none;
}

.btn svg {
  align-items: center;
  transition: 0.5s ease-in-out;
}

.btn:hover svg {
  width: 2rem;
  height: 2rem;
}

.footer-page {
  border-top: 1px solid #afafaf86;
}

/* dakr mode */

* {
  transition: 0.5s;
}

h5.dark {
  color: #fff !important;
}

div.dark {
  color: #fff !important;
}

a.dark {
  color: #fff !important;
}

i.dark {
  color: #fff !important;
}

p.dark {
  color: #fff !important;
}

.home-title.dark {
  color: #fff !important;
}

.button.dark {
  color: #fff !important;
}

p.dark {
  color: #fff !important;
}

.postcard.dark {
  border: 2px solid #fff;
}

a.btn.dark {
  border-color: #fff !important;
}

.postcard__bar.dark {
  background-color: #770aaa !important;
}

.blockabout-inner.dark {
  border-color: #ffffff7c;
}

.nav-link:hover.dark {
  border-radius: 0.375rem;
  background: #fff !important;
  color: #000 !important;
}

.dark::selection {
  background-color: #fff !important;
  color: #770aaa !important;
}