.Main {
}

.Main-Banner-Title {
    position: absolute;
}

.Main-Banner-Img {
    position: absolute;

    filter: blur(5px);
    background-color: aliceblue;
    object-fit: cover;
    width: 120%;
    height: 447px;
    left: -20px;
    top: 100px;
}